@charset "utf-8";
/* Bazylianie CSS Document */

/*FOOTER*/

#footer {width:852px; height:40px; background: #ededed url('../img/stopka_logo.png') left no-repeat; border: 1px solid #aaa; border-bottom: 0; position: relative; top: 10px; margin-bottom:5px; margin-left:auto; margin-right:auto; display: block; clear: both; padding: 24px; padding-left: 120px; }

#footer .r{width:840px; height:37px; display:block; float:left;text-align: center; margin: 0 auto;}
#footer .r a{margin-right: 40px; }

#footer a{}
#footer a:link, #footer a:visited{text-decoration:none; color:#444; font-family: Segoe UI; margin-top:12px; margin-left:20px; display:block; float:left; font-size: 16px;}
#footer a:hover{text-decoration:underline; margin-top:12px; margin-left:20px; display:inline; display:block; float:left;}

#webolution {width:100px; height:30px; display:block; float:left; margin-top:97px; margin-left:14px; color:#FFF; text-align:center;}
#webolution a:link, #webolution a:visited { width:100px; height:30px; display:block; text-decoration:none; background-color:#CA0002; color:#CCC;}
#webolution a:hover {text-decoration:none; color:#CA0002; background-color:#FFF;}
#footer a.oldserwis:link, #footer a.oldserwis:hover,#footer a.oldserwis:visited {float:right; display:block; width:168px; height:37px; background-image:url(../img/footer.jpg); margin-top:0px; margin-left:0px;}