@charset "utf-8";
/* Bazylianie CSS Document */

/*IMPORT*/
/*@import url(nav.css);*/
@import url(footer.css);
@import url(common.css);
@import url(main.css);


.promo_new{ min-height:250px; padding: 0; z-index: 800; margin-bottom: 10px; float:left; padding: 10px; display:block; position: relative; background-color:#fff; border:2px #8BCAEB solid ; color:#693; -moz-border-radius-topleft:5px;  -webkit-border-top-left-radius:5px; -moz-border-radius-bottomright:5px;  -webkit-border-bottom-right-radius:5px; -moz-border-radius-topright:5px;  -webkit-border-top-right-radius:5px; -moz-border-radius-bottomleft:5px;  -webkit-border-bottom-left-radius:5px; overflow:hidden;}
.promo_new h3{ font-size: 32px; color: #8BCAEB; text-decoration: none; margin-top: 0px; margin-bottom: 14px;}
.promo_new a{ text-decoration: none;}
.promo_tresc{ font-family: "Times New Roman"; font-size: 16px; color: #444; font-style: italic;}

#topnews{ width: 100%; float:left; display:block;     padding-bottom: 10px; clear: both; border: 1px solid #ededed; background: #fff; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px;}
#topnews .title, .blog .page-header, .item-page .page-header{display:block; width: 100%; border-left: 8px solid #333; color: #333; padding-left: 8px; text-decoration:none; font-family:"Segoe UI 32 SemiBold", "Segoe UI Light", Arial, Helvetica;   font-size:15px;float:left;}
#topnews .red { color:#aa0d00; border-left: 8px solid #aa0d00;}
#topnews .title  a{text-decoration:none; font-family:"Segoe UI", "Segoe UI Light", Arial, Helvetica;  color:#333;  font-size:20px;}
#topnews .red  a{text-decoration:none; font-family:"Segoe UI", "Segoe UI Light", Arial, Helvetica;  color:#aa0d00;  font-size:20px;}
#topnews .stamp {display:block;  float:left; width: 95%; margin: 15px; margin-top: 15px; position: relative; margin-bottom: 10px; border-top: 1px solid #aaa; text-align:center;}
#topnews .stamp  span{border: 1px solid #aaa; background: #efefef;  position: relative; top: -7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; padding: 5px; padding-top: 3px; padding-bottom: 3px; text-decoration:none; font-family:"Segoe UI", "Segoe UI Light", Arial, Helvetica; font-size:9px; color:#999;}
#topnews .text, .blog article p, .item-page p {display:block; float: left; text-decoration:none; font-family:"Segoe UI", "Segoe UI Light", Tahoma, Verdana; font-size:13px; text-align:justify; padding:0px 7px 2px 14px; line-height:16px; margin:5px 10px 0px 0px; color:#666;}
#topnews .repeater{ float:left; display:block;}
#topnews .sepaparate{width:90%; height:7px; float:left; display:block;}
#topnews img { max-width: 96%;}



.buttons{ height:250px; margin-bottom: 10px; margin-left:8px; float:left; display:block}
#buttonmenu_ { list-style-type: none; margin: 0; padding: 0; }
#buttonmenu_ a { text-indent: -2000px; }

#buttonmenu_13 {width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px;  float:left;  overflow:hidden;}
#buttonmenu_14{width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px;  float:left;  overflow:hidden;}
#buttonmenu_15 {width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px;  float:left;  overflow:hidden;}
#buttonmenu_16 {width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px;  float:left;  overflow:hidden;}

#buttonmenu_13:link, #buttonmenu_13:visited {width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/intencje1.png);  background-repeat:no-repeat;background-position: 0 0; float:left;  overflow:hidden; margin-bottom:5px;}
#buttonmenu_14:link, #buttonmenu_14:visited {width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/gallery.png);  background-repeat:no-repeat;background-position: 0 0; float:left;  overflow:hidden; margin-bottom:5px;}
#buttonmenu_15:link, #buttonmenu_15:visited {width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/mlodziez1.png);  background-repeat:no-repeat;background-position: 0 0; float:left;  overflow:hidden; margin-bottom:5px;}
#buttonmenu_16:link, #buttonmenu_16:visited {width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/modlitewnik1.png);  background-repeat:no-repeat;background-position: 0 0; float:left;  overflow:hidden;}		

#buttonmenu_13:hover{width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/intencje1.png);  background-repeat:no-repeat; background-position: 0 -58px; float:left;  overflow:hidden; margin-bottom:5px;}
#buttonmenu_14:hover{width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/gallery.png);  background-repeat:no-repeat; background-position: 0 -58px; float:left;  overflow:hidden; margin-bottom:5px;;}
#buttonmenu_15:hover{width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/mlodziez1.png);  background-repeat:no-repeat; background-position: 0 -58px; float:left;  overflow:hidden; margin-bottom:5px;}
#buttonmenu_16:hover{width:292px; height:58px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/modlitewnik1.png);  background-repeat:no-repeat; background-position: 0 -58px; float:left;  overflow:hidden;}

#sidebar_section{display:block; width:100%; min-width:290px; float:left; border: 1px solid #d4d4d4; margin-bottom: 16px; background: #fff; position: relative;  -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;}
#sidebar_section .head{ height:28px; min-width:276px; width:100%; display:block; float:left;  background-repeat:no-repeat; background-position:top;}
#sidebar_section .name, .theme_section .name { height:20px; min-width: 270px; margin-top:2px; text-decoration:none; font-style:italic; font-family: Times New Roman; font-size: 18px; text-shadow: 0 1px 0 #CCC; float:left; display:block; margin-left:10px; color:#091E25; text-align: center;}
#sidebar_section .option, #sidebar_section .option a, #sidebar_section .option a:link, #sidebar_section .option a:visited{	position: absolute; right: 5px; top: 0px; width:34px;	height:20px; margin-top:3px;	text-decoration:none;	font-family:"Segoe UI", "Segoe UI Light", Tahoma, Verdana;	font-size:10px; color: #6799A7;}
#sidebar_section .option a:hover{	width:74px;	height:20px;	margin-top:3px;	text-decoration:none;	font-family:"Segoe UI", "Segoe UI Light", Tahoma, Verdana;	font-size:10px; float:left;	text-align:right;	margin-right:5px;	color: #446A75;	text-decoration:underline;}
#sidebar_section .bottom{ height:6px; display:block; float:left;  background-repeat:no-repeat; background-position:top; margin-bottom:6px; clear: both;}
#sidebar_section .gallery{width: 100%;  display:block; float:left;  background-repeat:repeat-y;}

#sidebar_section .incat{display:block; width:285px; font-family:"Segoe UI", "Segoe UI Light", Tahoma, Verdana; font-size:14px; margin:5px auto; overflow:hidden;}
#sidebar_section .incat a {overflow:hidden; background-image:none; background-color:#FFF; font-size:14px; text-align:left;  font-size:12px;}
#sidebar_section .incat a:link, #sidebar_section .incat a:visited{display:block; width:275px; float:left;  text-decoration:none; margin-bottom:0px; line-height:16pt; padding:1px 3px 1px 12px; color:#333;}
#sidebar_section .incat a:hover{ text-decoration:none; background-color:#FDFCBA; border-bottom:1px solid #FFC90F;}

#sidebar_section .newest, #sidebar_section .newest li, #sidebar_section .newest li a, #sidebar_section .newest ul, #sidebar_section .newest ul a, #sidebar_section .newest ul a:link, #sidebar_section .newest ul a:visited, #sidebar_section .newest li a:link, #sidebar_section .newest li a:visited{text-decoration:none; color:#333; font-size:9pt; line-height:16pt; list-style:none; list-style-position:inside; }
#sidebar_section .newest li a:link, #sidebar_section .newest li a:visited {color:#333; font-size:9pt;  padding:2px 5px; margin-left:-14px;}
#sidebar_section .newest li a:hover, #sidebar_section .newest ul a:hover{text-decoration:none;  width: 98%; }
#sidebar_section .newest li {margin-left:-14px;}

#sidebar_section .gallery .prev, #sidebar_section .gallery .next{display:block; float:left; overflow:hidden;}
#sidebar_section .gallery .prev a, #sidebar_section .gallery .next a,#sidebar_section .gallery .prev a:link, #sidebar_section .gallery .next a:link, #sidebar_section .gallery .prev a:visited, #sidebar_section .gallery .next a:visited {width:43px; height:128px; float:left; display:block; background-color:#FAFAF0; color:#FC0; text-decoration:none; margin:10px 1px; font-family:"Segoe UI", "Segoe UI Light", Tahoma, Verdana; font-size:36pt; overflow:hidden; text-align:center; border:1px solid #F5F7EA;}
#sidebar_section .gallery .prev a:hover, #sidebar_section .gallery .next a:hover {width:43px; height:128px; float:left; display:block; background-color:#D3E2E8; color:#036; text-decoration:none; margin:10px 1px; border:1px solid #F5F7EA;}
#sidebar_section .gallery .featured{width:194px; height:128px; overflow:hidden; display:block; float:left; background-color:#FAFAF0; margin:10px 0px; border:1px solid #F5F7EA;}
#sidebar_section .gallery .navi{width:280px; height:68px; overflow:hidden; display:block; float:left; background-color:#FAFAF0; margin: 2px 5px;}
#sidebar_section .gallery .thumb{ display:block; float:left; margin:5px 7px; border:1px solid #F5F7EA; text-align:center;}
#sidebar_section .gallery .mprev a, #sidebar_section .gallery .mnext a,#sidebar_section .gallery .mprev a:link, #sidebar_section .gallery .mnext a:link, #sidebar_section .gallery .mprev a:visited, #sidebar_section .gallery .mnext a:visited {width:140px; height:28px; float:left; display:block; background-color:#FAFAF0; color:#FC0; text-decoration:none; margin:3px 1px; font-family:"Segoe UI", "Segoe UI Light", Tahoma, Verdana; font-size:14pt; overflow:hidden; text-align:center; border:1px solid #F5F7EA;}
#sidebar_section .gallery .mprev a:hover, #sidebar_section .gallery .mnext a:hover {width:140px; height:28px; float:left; display:block; background-color:#D3E2E8; color:#036; text-decoration:none; margin:3px 1px; border:1px solid #F5F7EA; text-align:center;}
#sidebar_section .gallery input[type="text"] { margin-left: 80px; width: 125px;}
#sidebar_section .gallery label { position: absolute; margin-left: 10px; margin-top: 4px;}

.mojaparafia_link{background: url(../img/go.png) no-repeat; position: absolute; right: 2px; top: 2px; display: block; text-indent: -2000px; height: 22px; width: 38px;}
.mojaparafia_head{  height:28px; display:block; float:left; margin-bottom: 10px; }
.mojaparafia_head  div.name{  text-align: left !important ; }
.mojaparafia_head select{width: 120px; border: 0; color: #50A3FF; font-style:italic; font-family: Times New Roman; font-size: 18px;}
.moduletable_menu {display:none;}

.article-info{ margin-left: 10px;}
.blog p { padding: 10px;}
.more2{ display: block; float: right;}
#more_yellow, #more_blue, #more_expand, #more_comments,  a.readmore-link{margin-right: 20px; }
#more_yellow a, #more_blue a, #more_expand a, #more_comments a,.readmore-link { overflow: hidden; text-indent: -2000px;}
#more_yellow a:link, #more_yellow a:visited, .readmore-link:link{ width:144px; height:25px; display:block; text-decoration:none; border:none;  background-image:url(../img/button_readmore.jpg);  background-repeat:no-repeat;background-position: 0 0; float:left;  overflow:hidden; padding:0px;}	
#more_yellow a:hover,  .readmore-link:hover{ width:144px; height:25px; display:block; text-decoration:none; border:none; margin:0px; background-image:url(../img/button_readmore.jpg);  background-repeat:no-repeat;background-position: 0 -25px; float:left;  overflow:hidden; padding:0px; }
.more2 #more_yellow a:hover {background-color:#ffffff;}
.jwDisqusListingCounterLink { margin-left: 10px !important;}

.pagination ul{list-style: none; }
.pagination li{display: inline; margin-left: 5px; margin-right: 5px;}


.podtytul {
    color: #666666;
    font-family: Segoe UI , Segoe UI Light ,Arial, Tahoma,Verdana;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}